---
// unfortunate that css masonry isn't baseline yet innit
---

<div class="no-scrollbar picrow flex flex-row gap-4 overflow-x-scroll">
  <div class="card bg-neutral-300">test</div>
  <div class="card bg-neutral-300">test</div>
  <div class="card bg-neutral-300">test</div>
  <div class="card bg-neutral-300">test</div>
</div>

<style>
  .picrow div {
    aspect-ratio: 1 / 1;
    height: 240px;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
