---
import ProjectCard from "./ProjectCard.astro";
import type { Project } from "./ProjectCard.astro";

import experiences from "./experiences.json";
const projects = experiences.projects as unknown as Project[];
const featuredProj: Project = {
  title: "Atypeical",
  description:
    "A typing test I built for typists of all types using SwiftUI + Swift Charts as my (winning) submission to the 2023 Swift Student Challenge.",
  CTA: "View GitHub",
  link: "https://github.com/ChrisOh431/Atypeical",
  hue: 211,
  timespan: "Spring 2023",
};
---

<div class="not-prose">
  <div
    class="grid auto-rows-fr grid-cols-3 gap-0.5 bg-neutral-100 p-0.5 max-md:grid-cols-2 max-sm:grid-cols-1"
  >
    {projects.map((project) => <ProjectCard project={project} />)}
  </div>
</div>
