---
import BlogPostList from "../../layouts/BlogPostList.astro";
---

<BlogPostList title="Blog" selectedBlogSector="me">
  <div slot="desc" class="mt-4">
    <p class="max-w-sm">
      I've written all sorts of stuff, most of it's
    <span class="text-neutral-400 dark:text-neutral-300">(kinda)</span> old and some of it's new.
    </p>
  </div>
</BlogPostList>
