---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404: Page Not Found" schemaType={false}>
  <div
    class="prose dark:prose-invert prose-lg prose-a:underline prose-a:text-[#774522] dark:prose-a:text-orange-300 prose-a:underline-offset-4 prose-a:decoration-1 prose-li:marker:text-[#774522] w-full max-w-none text-gray-900 subpixel-antialiased max-sm:mt-4 dark:text-gray-50"
  >
    <h1 class="text-5xl font-extrabold">404, Page Not Found!</h1>

    <p>
      Unfortunately, you've stumbled upon a link or type in an address that
      doesn't exist on my site.
    </p>
    <p>
      No clue how that happened, but chances are that its my bad. Try telling me
      about it on Twitter: <a href="https://twitter.com/seesjays">@seesjays</a>
    </p>
    <p>
      It would help me lots and improve the site experience for others if you
      did.
    </p>
    <p>
      Sorry again, and <a href="/">here's a link back to my homepage</a>
    </p>
  </div>
</Layout>
