---
import BlogPostList from "../layouts/BlogPostList.astro";
---

<BlogPostList title="Dev Blog" selectedBlogSector="technical">
  <p slot="desc" class="mt-4 max-w-sm">
    I've written all sorts of stuff, most of it's
    <span class="text-neutral-400">(kinda)</span> old and some of it's new.
  </p>
</BlogPostList>
