---
import BlogPostList from "../layouts/BlogPostList.astro";
---

<BlogPostList
  title="Data Structures Notes"
  description="Common C++ Data Structures and Algorithms implementations"
  selectedBlogSector="extras"
>
  <div slot="desc">
    <h1
      class="mb-2 font-sans text-5xl font-black text-[#8B5339] dark:text-orange-400"
    >
      Extras
    </h1>
    <p class="mt-4 max-w-lg">
      Notes I've taken during my freshman year course in Data Structures. Some
      aren't optimal, code's kinda wonky in some areas, but I hope it's useful
      to you!
    </p>
  </div>
</BlogPostList>
