---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <div class="prose-lg">
    <div id="greet">
      <h1 class="mb-4 font-sans text-4xl font-black">
        Hi! My name's <span class="text-[#8B5339]">Christian.</span>
      </h1>
      <p class="mt-4 max-w-lg">
        I enjoy building all sorts of unique software, <br />from the frontend
        to the backend and everything in between.
      </p>
      <p class="mt-4 max-w-md">
        I’m currently doing some distributed systems work at yo mama house in
        the SF Bay Area.
      </p>
    </div>
  </div>
</Layout>
