---
import Layout from "../layouts/Layout.astro";

import Work from "../components/homepage/Work.astro";
import Projex from "../components/homepage/Projex.astro";
import { Image } from "astro:assets";
import moose from "../images/moosie.png";
---

<Layout title="Home">
  <div
    class="prose dark:prose-invert prose-lg prose-a:underline prose-a:text-[#774522] dark:prose-a:text-orange-300 prose-a:underline-offset-4 prose-a:decoration-1 prose-li:marker:text-[#774522] w-full max-w-none text-gray-900 max-sm:mt-4 dark:text-neutral-50"
  >
    <div
      class="grid grid-cols-2 max-md:grid-cols-1 max-sm:items-center max-sm:gap-1"
    >
      <div id="greet">
        <h1
          class="mb-4 font-sans text-5xl leading-tight font-black max-sm:text-3xl"
        >
          Hi! My name's <span class="text-[#8B5339] dark:text-orange-400"
            >Christian.</span
          >
        </h1>
        <p class="mt-4 max-w-lg">
          I enjoy building all sorts of unique software, <br />from the frontend
          to the backend and everything in between.
        </p>
        <p class="mt-4 max-w-md">
          I'm currently doing some distributed systems work at yo mama house in
          the SF Bay Area.
        </p>
        <p class="mt-4 max-w-md">
          Here's my <a href="https://www.linkedin.com/in/seesjays">LinkedIn,</a> my
          <a href="https://github.com/seesjays">GitHub,</a> my <a
            href="https://www.instagram.com/seesjays/">Instagram,</a
          > and my <a href="https://www.twitter.com/seesjays">Twitter.</a>

          I'm always happy to chat!
        </p>
      </div>

      <div id="moose">
        <figure
          class="rotate-3 transition-transform duration-300 hover:rotate-0 hover:scale-105 mr-10 ml-auto w-75 max-md:mx-auto max-md:w-3/5 max-sm:mx-auto max-sm:w-82"
        >
          <Image
            src={moose}
            alt="My chihuaha-shih-tzu Moose, my favorite part of Texas."
            class="rounded-md border-3 border-neutral-200 dark:border-neutral-700 cursor-grab p-1"
          />
          <figcaption class="mt-2 text-center text-sm text-gray-600 dark:text-gray-200 font-medium p-0.5">
            His name's Moose!
          </figcaption>
        </figure>
      </div>
    </div>

    <div id="work-exp" class="mt-16">
      <h2 class="mb-4 font-bold">Work Experience</h2>
      <Work />
    </div>

    <div id="projects" class="mt-16">
      <h2 class="mb-4 font-bold">Projects</h2>
      <Projex />
    </div>
  </div>
</Layout>
