---
import { Image } from "astro:assets";
import galaxseesjays from "../images/galaxseesjays.png";
---

<div
  class="sunset flex h-60 items-center justify-center overflow-hidden brightness-105 contrast-85 -hue-rotate-15 saturate-200"
>
  <Image
    src={galaxseesjays}
    loading={"eager"}
    alt="dithered milky way"
    class="mt-8 w-512 scale-100 sepia-100 max-sm:scale-150"
  />
</div>
