---
import { Image } from "astro:assets";
import galaxseesjays from "../images/ggseesjays.png";
---

<div class="sunset flex h-60 items-center justify-center overflow-hidden">
  <Image
    src={galaxseesjays}
    loading={"eager"}
    alt="dithered milky way"
    class="mt-8 w-512 scale-100 max-sm:scale-150"
  />
</div>
