---
import InnerSunset from "./InnserSunset.jsx";
---

<div class="sunset h-full min-h-64 w-full">
  <InnerSunset client:only="react">
    <div class="h-full w-full bg-[#FFE9D5]"></div>
  </InnerSunset>
</div>
