---
import { Image } from "astro:assets";
import galaxseesjays from "../images/galaxseesjays.png";
---

<div
  class="sunset h-60 flex items-center justify-center overflow-hidden saturate-200 dark:saturate-250 brightness-105 contrast-85"
  transition:persist
  transition:animate="none">
  <Image src={galaxseesjays} alt="dithered milky way" class="w-512 mt-8 max-sm:scale-150 scale-100 sepia-100"/>
</div>

