---

---

<div class="sunset h-full min-h-64 w-full"></div>

<style>
  .sunset {
    box-sizing: border-box;
    background-image: radial-gradient(
      53.79% 98.54% at 50% 100%,
      #f0be84 0%,
      #f5e1b600 100%
    );
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100rem 100%;
  }
</style>
