---

---

<header class="w-full">
  <nav class="flex w-full gap-7 pt-4 pb-3">
    <a> Christian Ohanaja </a>
    <a> Blog </a>
    <a> Work </a>
    <a> Projects </a>
    <a> Resume </a>
    <a> Contact </a>
  </nav>
</header>
