---
import TopbarLink from "./TopbarLink.astro";
---

<header class="w-full">
  <nav class="flex w-full gap-7 pt-4 pb-3">
    <TopbarLink class="font-medium" href="/"> Christian Ohanaja </TopbarLink>
    <TopbarLink href="/blog"> Blog </TopbarLink>
  </nav>
</header>
