---

---

<header class="w-full">
    <nav class="w-full py-4 flex gap-7">
        <a>
            Home
        </a>
        <a>
            Blog
        </a>
        <a>
            Work Exp.
        </a>
        <a>
            Projects
        </a>
        <a>
            Resume
        </a>
        <a>
            Contact
        </a>
    </nav>
</header>
