---
const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<a
  href={href}
  class:list={[
    "decoration-orange-800/50 decoration-2 underline-offset-7 [&.currentPage]:underline",
    className,
    { currentPage: isActive },
  ]}
  {...props}
>
  <slot />
</a>
