---

---

<div
  class="not-prose text-tonad-500 mt-3 -mb-3 w-full border border-orange-800/20 dark:border-orange-300 bg-orange-50/30 dark:bg-orange-500/10 px-3 pt-1 pb-2.5 max-sm:mt-2"
>
  <span class=" font-bold">Note:</span>
  <p class="text-base max-sm:text-sm">
    This code was written during a crunch period and isn't perfect. There will
    be some errant spacing, some files will be
    <code>using namespace std,</code> etc. But it's all still usable and can be a
    handy guideline if you're learning Data Structures.
  </p>
</div>
