---
import Layout from "./Layout.astro";
import ExtraCallout from "../components/blog/ExtraCallout.astro";
import type { CollectionEntry } from "astro:content";

import dayjs from "dayjs";

type Props = CollectionEntry<"blog">["data"];

const { title, date, sector } = Astro.props;

const dateString = dayjs(date).format("MMMM D, YYYY");
---

<Layout title={title}>
  <div class="text-left">
    <article
      class="prose prose-lg prose-headings:font-extrabold prose-headings:text-[#8B5339] prose-p:leading-loose prose-a:text-[#774522] prose-a:underline-offset-2 prose-blockquote:border-l-2 prose-blockquote:border-orange-800 prose-blockquote:bg-orange-500/5 prose-blockquote:bg-opacity-20 prose-blockquote:px-5 prose-img:mx-auto prose-hr:my-12 prose-hr:h-0.5 prose-hr:border-none prose-hr:bg-orange-900/30 max-sm:prose-base max-w-none tracking-wide antialiased marker:font-bold marker:text-orange-800 [&_code:not(pre_code)]:mx-1 [&_code:not(pre_code)]:rounded-md [&_code:not(pre_code)]:bg-orange-500/10 [&_code:not(pre_code)]:px-3 [&_code:not(pre_code)]:py-1 [&_code:not(pre_code)]:font-semibold [&_code:not(pre_code)]:text-orange-950"
    >
      <h1 class="mb-2 max-sm:mb-0!">{title}</h1>
      {sector === "extras" ? <ExtraCallout /> : undefined}
      {
        sector != "extras" ? (
          <span class="text-base font-semibold">
            <time datetime={dateString}>{dateString}</time>
          </span>
        ) : undefined
      }
      <slot />
    </article>
  </div>
</Layout>
