---
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";
import { SEO } from "astro-seo";
import Topbar from "../components/Topbar.astro";
import "../styles/global.css";
import Sunset from "../components/Sunset.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title = "Christian Ohanaja", description } = Astro.props;
---

<!doctype html>
<html lang="en" transition:name="root">
  <head>
    <script is:inline>
      function initTheme() {
        let theme = (() => {
          if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("color-schema")
          ) {
            console.log(localStorage.getItem("color-schema"));
            return localStorage.getItem("color-schema");
          }
          if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            console.log("dark");
            return "dark";
          }
          console.log("light");
          return "light";
        })();

        if (theme === "light") {
          document.documentElement.classList.remove("dark");
        } else {
          document.documentElement.classList.add("dark");
        }
        window.localStorage.setItem("color-schema", theme);
      }

      initTheme();
      document.addEventListener("astro:after-swap", initTheme);
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content="❤️ love ❤️" />
    <SEO title={title} description={description} />
    <Font cssVariable="--font-hyperlegible" />
    <ClientRouter />
  </head>
  <body
    class="grid min-h-screen grid-flow-col auto-rows-min grid-cols-[1fr_minmax(32rem,56rem)_1fr] max-sm:grid-cols-1 dark:bg-neutral-900"
  >
    <div
      class="col-start-2 h-fit border-x-2 border-neutral-100 px-8 max-sm:col-span-full max-sm:col-start-1 max-sm:px-4 dark:border-neutral-800"
    >
      <Topbar />
    </div>
    <div
      id="sunset-district"
      class="relative col-span-full col-start-1 row-start-2 border-y-2 border-neutral-100 dark:border-neutral-800"
    >
      <Sunset />
    </div>
    <div
      id="sunset-cover"
      class="z-10 col-start-2 row-start-2 h-full border-y-2 border-neutral-100 dark:border-neutral-800"
    >
    </div>

    <main
      class="col-start-2 border-x-2 border-neutral-100 px-8 pt-8 pb-64 max-sm:col-start-1 max-sm:col-end-4 max-sm:px-4 max-sm:pt-3 dark:border-neutral-800"
    >
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-family:
      var(--font-sans),
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      sans-serif;
  }
</style>
