---
import { Font } from "astro:assets";
import { SEO } from "astro-seo";
import Topbar from "../components/Topbar.astro";
import "../styles/global.css";
import Sunset from "../components/Sunset.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title = "Simun", description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content="❤️ love ❤️" />
    <SEO title={title} description={description} />
    <Font cssVariable="--font-hyperlegible" />
  </head>
  <body
    class="grid min-h-screen grid-flow-col auto-rows-min grid-cols-[1fr_minmax(32rem,56rem)_1fr]"
  >
    <div class="col-start-2 h-fit border-x-2 border-neutral-100 px-8">
      <Topbar />
    </div>
    <div
      id="sunset-district"
      class="col-span-full col-start-1 row-start-2 h-full border-y border-neutral-200"
    >
      <Sunset />
    </div>
    <div
      id="sunset-cover"
      class="z-10 col-start-2 row-start-2 h-full border-y border-neutral-200 bg-white/20 max-md:bg-transparent"
    >
    </div>

    <main class="col-start-2 border-x-2 border-neutral-100 px-8 pt-12 pb-64">
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-family:
      var(--font-sans),
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      sans-serif;
  }
</style>
